.debug{
  background-color: greenyellow;
  border: 1px solid;
}

[class^='container'],
[class^='col']{
  background-color: greenyellow;
  border: 1px solid;
}

/* BAR */

.bar{
  background-color: #2C3E50;
}

.logo{
  font-weight: bold;
  color: white;
}

.hamburguer i{
  border: 1px solid;
  border-radius: 15x;
  padding: 4px 8px;
}

.menu{height: 100%;}

.menu nav ul li a{
 vertical-align: middle;
  
}



/* MAIN */

/* JUMBOTRON */

.jumbotron, .about{
  background-color: #1ABC9C;
}

.img-jumbotron{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
}

.jumbotron p{
  font-size: ;
}

/* CONTACT ME */

.container-ep{
  width: 60%;
  margin: 0 auto;
}

.input-custom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

#contact-me .btn{
  background-color: #1ABC9C ;
  border: none;
}

#contact-me .btn:hover{
  background-color:#1abc9c9f ;
  
}

